:root{
    /* Brand */
    --color-primary: #2563eb;
    --color-primary-dark: #1d4ed8;
    --color-primary-light: #eff6ff;

    --color-secondary:  #0f172a;

    /* Neutral */
    --color-white: #ffffff;
    --color-black: #000000;

    --color-gray: #f8fafc;
    --color-grap-100: 
}